body{
	background-color: #fff3cd;
	font-family: 'Noto Sans TC', sans-serif;
	margin:0px;
}

header {
 height: 50px;
 position: fixed;
 left:0;
 right:0;
 background: #fff000;
 z-index: 200;
}

.flex-nav {
    display: flex;justify-content: center;justify-content: space-evenly
}



div.title{
	display: block;
	font-size: 50px;
	text-align:center;

	
}




.title > span {
	position: absolute;
	top: 260px;
	left: 630px;
	color: black;
	
}

.title > img {

	opacity:30%;
}


div.content1{
	position: absolute;
	left:20%;
	top:700px;
	width:25%;
	font-size: 18px
}
div.content2{
	position: absolute;
	left:20%;
	top:1000px;
	width:25%;
	font-size: 18px;
	margin-bottom: 5%;
	color:black;
}


.pic{
	position: absolute;
	left:800px;
	top:740px;
}

h1:hover{

	background-color: pink;
}

h1{
	display: inline-block;
	background-color: white;
	border:1px solid white;
	text-align: center;
	width: 150px;
	height: 50px;
	padding:10px;
    color:black;
    font-weight: 10px;
    font-size: 25px;
}

