.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
	

[class*="col-"] {
	float: left;
	/*background-color:#B399FF*/
	    /*border: 5px solid black;*/
    }

header {
 top:10px;
 height: 50px;
 position: fixed;
 left:0;
 right:0;
 background: #fff000;
 z-index: 200;
}

.flex-nav {
    display: flex;justify-content: center;justify-content: space-evenly
}

.row::after {
	content: "";
	clear: both;
	display: table;

	}

a:hover { 
  background-color: orange;
}




.container
{
	 position:absolute;
	 left: 400px;

}

.Dance
{
	grid-row-start: 3;
    grid-row-end: 5;
}


.CLEAR
{
	font-size: 15px;  font-family:Times New Roman
	/*background-color:#6640FF*/
}

.ADD
{
	font-size: 15px;  font-family:Times New Roman
	/*background-color:#6640FF*/
}



.Comment
{
	font-size: 20px;  font-family:Times New Roman

	
}









body{
	background-color: #fff3cd;
	font-family: 'Noto Sans TC', sans-serif;
	margin:0px;
}

div.title{
	display: block;
	font-size: 50px;
	text-align:center;

	
}

.title > span {
	position: absolute;
	top: 260px;
	left: 630px;
	color: black;
	
}

.title > img {

	opacity:30%;
}

.title1{
    position: absolute;
    font-size: 18px;
    width:45%;
    text-align:center;
	left: 30%;
	margin-top: -20px
    
}


div.content{
    position: relative;
    
	
}


.category{
	
	display: inline-block;
	background-color: white;
	border:1px solid white;
	text-align: center;
	width: 150px;
	height: 70px;
	padding-top: -200px;
    margin-left: 300px;
    margin-right: -120px;
}



div.content2{
	position: relative;
	left:20%;
	bottom:-120px;
	width:25%;
	font-size: 18px;
	border:5px solid #ffffff;
	padding: 25px;
	
}


div.content2-1{
	position: relative;
    left:60%;
    bottom: 200px;
	width:10%;
	
}


.text{
	position: absolute;
    color: black;
    background-color: pink;
    top: -20px;
    left: -30px;
    width: 130px;
    height: 40px;
    text-align: center;
	border-radius: 15px;
	font-size: 20px;


}



div.content3{
	position: absolute;
	bottom: -260px;
    
    left:20%;
	width:10%;
	font-size: 18px;
}

div.content3-1{
	position: absolute;
	left:55%;
    bottom: -310px;
	width:25%;
	font-size: 18px;
	border:5px solid #ffffff;
	padding: 25px;
}


div.content4{
	position: absolute;
	left:20%;
	bottom: -720px;
	width:25%;
	font-size: 18px;
	border:5px solid #ffffff;
	padding: 25px;
	
}

div.content4-1{
	position: absolute;
	left:60%;
    bottom: -720px;
	width:25%;
	font-size: 18px;
	margin-bottom: 10px;
}



div.content5{
	position: absolute;
	bottom: -1100px;
    
    left:20%;
	width:10%;
	font-size: 18px;
}

div.content5-1{
	position: absolute;
	left:55%;
    bottom: -1100px;
	width:25%;
	font-size: 18px;
	border:5px solid #ffffff;
	padding: 25px;
	
}

div.content6{
	position: absolute;
	left:20%;
	bottom: -1600px;
	width:25%;
	font-size: 18px;
	border:5px solid #ffffff;
	padding: 25px;
}



div.content6-1{
	position: absolute;
	left:60%;
    bottom: -1600px;
	width:25%;
	font-size: 18px;
	margin-bottom: 10px;
	
}

h1{
	font-size: 25px;
	border:1px solid black;
	width:110px;
	text-align: center;
	font-weight: 100;
	padding: 10px
}



img{
	text-align: right;
	

}